<!doctype html>
<html ng-app="angularCalculator">
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Angular Calculator</h1>
            </div>
        </div>
        <div ng-controller="angularCalcController">
            <input type="number" class="input" , placeholder="Operand 1" , ng-model="firstOperandInput"></input>
            <input type="number" class="input" , placeholder="Operand 2" , ng-model="secondOperandInput"></input>
            <button class="button" ng-click="plusButton()">+</button>
            <button class="button" ng-click="subtractButton()">-</button>
            <button class="button" ng-click="multiplyButton()">*</button>
            <button class="button" ng-click="divideButton()">/</button>
            <p></p>
        </div>
    </body>
</html>


